body{
    background-color: #E5E5E5;
}
.navbar img{
    width: 30px;
    
}
.navbar{
    height: 60px;
}
.container-fluid{
    width: 1000px;
}
.player img{
    width: 56px;
    
}
main{
    max-width: 870px;
}
.top-players{
    background-color: #ffffff;
    border-radius: 10px;
}
.blog img{
    width: 177px;
}
.footer{
    padding-left: 140px;
}
.course{
    background-color: #ffffff;
    border-radius: 10px;
    height: 350px;
}
.card-footer{
    border-top: none;
    background-color: #ffffff;
}
.card img{
    width: 300px;
   padding-top: 10px;
    padding-left: 10px;
}
.card{
    border: none;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
}
.card-text{
    color: #ED6B4F;
}
.chacked{
    color: gold;
}
.card-time{
    margin-left: 75px;
    background-color: #FF4A60;
    color: white;
    padding: 3px 6px;
    border-radius: 8px;
}
